.ul{
  display: flex;
  flex-direction: column;
  margin-top:2rem; 
}
.li{
  background-color: rgb(236, 234, 234);
  &:not(:last-child){
    margin-bottom:0.6rem;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem;
  // border-radius:0.3rem;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);

}