.form {
  display: flex;
  flex-direction: column;
  height:6rem;
  justify-content: space-around;
  label{
    display: inline;
    font-size: .8rem;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  input{
    padding:0.5rem;
    border:none;
    border-bottom: solid 2px #333;
    background-color: rgb(236, 234, 234);
    outline:none;
  }
  button{
    padding:0.5rem;
    background-color: #E4B333;
    border:none;
    border-radius:0.2rem;
    width:6rem;
    cursor:pointer;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    font-family: inherit;
    margin-top:0.5rem;
    &:active{
      transition:all 0.1s ease-in-out;
      transform:translateY(0.2rem)
    }
  }
}